<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Muxima Explorer</a>
    <ul>
      <li><a href="/categories">Categorias</a></li>      
      <li><a href="/places">Lugares</a></li>         
      <li><a href="/categories/new">Add Catergoria</a></li>      
      <li><a href="/places/new">Add Lugar</a></li>
      <li><a href="/users/dashboard">Gerir Utilizadores</a></li>      
      <li><a href="/users/logout" >Logout - <%= user.name %></a></li>      
    </ul>
  </nav>
</header>
  