<header>
  <nav class="header-nav">
    <a class="header-title" href="/">Muxima Explorer</a>
    <ul>
      <li><a href="/categories">Categorias</a></li>      
      <li><a href="/places">Lugares</a></li>         
      <li><a href="/users/login">Login</a></li>    
    </ul>
  </nav>
</header>