<section>
<h2 class="page-header">Editar Lugar</h2>
<form action="/places/<%= place.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <a class="btn btn-danger" href="/places">Cancelar</a>
  <button class="btn btn-primary" type="submit">Atualizar</button>
</form>
</section>