<h2 class="page-header">Adicionar Lugar</h2>
<form action="/places" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
  <a class="btn btn-danger" href="/places">Cancel</a>
  <button class="btn btn-primary"  type="submit">Create</button>
</div>
</form>