<div class="form-row">
    <div class="form-item">
    <label>Categorias</label>
    <input type="text" name="name" value="<%= category.name %>">
    </div>     
</div>
<div>
    <div class="form-item">
    <label>Descrição</label>
    <textarea name="description" cols="30" rows="10" value="<%= category.description %>"></textarea>
</div>
</div>

