:root {
  --color-base-hue: 36;
  --color-danger-hue-offset: 200;
  --color-danger-hue: calc(var(--color-base-hue) - var(--color-danger-hue-offset));
  --color-background-dark: hsl(var(--color-base-hue), 24%, 90%);
  --color-background-light: hsl(var(--color-base-hue), 24%, 96%);
  --color-text-light: hsl(var(--color-base-hue), 75%, 20%);
}